In [3]:
a = 91
b = 81

print(a//b)

1

In [6]:
a = 102.34
b = 103.392
print(a==b)

False

In [7]:
a = True
b = False

print(a and b)  
print(a or b)

False
True

In [8]:
a = 4
b = 10
print(a|b)

14

In [17]:
a = "Ashutosh"
b = "Tiwari"
print(a+b)

AshutoshTiwari

In [20]:
a = 20
weight = 60
print(f"My age is {a} and my body weight is {weight}.")

My age is 20 and my body weight is 60.

In [21]:
a = "Ashutosh"
print(a[:3])

Ash

In [23]:
a = "123"
b = int(a)
print(type(b),b)

<class 'int'> 123

In [24]:
l = [1,2,3,4]
print(l[-1])

4

In [25]:
l1 = [1,2,3,4,5,6,7,8]
print(l1[0:8:2])

[1, 3, 5, 7]

In [27]:
print(l + l1)

[1, 2, 3, 4, 1, 2, 3, 4, 5, 6, 7, 8]

In [29]:
1 in l

True

In [32]:
l1
l1.sort()
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8]

In [34]:
l.extend(l1)
print(l)
l.index(2)

[1, 2, 3, 4, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8]

1

In [35]:
l2 = [1, 2, 3, 4, 5, 6]
sl = l2[1:4]
print(sl)

[2, 3, 4]

In [37]:
print(len(l))

20

In [39]:
l1 = [1, 2, 3]
b2 = ['a', 'b', 'c']
l3 = ["Ashutosh","Tiwari"]

cl = [*l1, *b2, *l3]
print(cl)

[1, 2, 3, 'a', 'b', 'c', 'Ashutosh', 'Tiwari']

In [44]:
t = tuple(cl)
print(type(t),t)

print(t[2])

<class 'tuple'> (1, 2, 3, 'a', 'b', 'c', 'Ashutosh', 'Tiwari')
3

In [45]:
print(t*3)

(1, 2, 3, 'a', 'b', 'c', 'Ashutosh', 'Tiwari', 1, 2, 3, 'a', 'b', 'c', 'Ashutosh', 'Tiwari', 1, 2, 3, 'a', 'b', 'c', 'Ashutosh', 'Tiwari')

In [47]:
d = {
    "name": "John Doe",
    "age": 30,
    "city": "New York",
    "occupation": "Software Engineer",
    "hobbies": ["coding", "reading", "hiking"],
    "is_married": False,
    "salary": 100000,
    "favorite_color": "blue",
    "height": 175,
    "weight": 70
}
d.keys()
d.values()

dict_values(['John Doe', 30, 'New York', 'Software Engineer', ['coding', 'reading', 'hiking'], False, 100000, 'blue', 175, 70])

In [48]:
d['salary']=120000
print(d)

{'name': 'John Doe', 'age': 30, 'city': 'New York', 'occupation': 'Software Engineer', 'hobbies': ['coding', 'reading', 'hiking'], 'is_married': False, 'salary': 120000, 'favorite_color': 'blue', 'height': 175, 'weight': 70}

In [49]:
a = 10
b = 20
res = b - a
print(res**3)

1000

In [51]:
a = "Ashutosh"
b = "Tiwari"

print(b>a)

True

In [53]:
result = (a and b) or (a and c) or (b and c)
print(result)

Tiwari

In [54]:
d = dict(name = 'Ashutosh',course = "Data Engineering",Age = 20,Weight = 60,Institute = 'Regex')
print(d)

d.get('name')
d['course']
d['name']='Ashutosh Tiwari'
d

{'name': 'Ashutosh', 'course': 'Data Engineering', 'Age': 20, 'Weight': 60, 'Institute': 'Regex'}

{'name': 'Ashutosh Tiwari',
 'course': 'Data Engineering',
 'Age': 20,
 'Weight': 60,
 'Institute': 'Regex'}

In [55]:
new_d = {1:1,2:2,3:3,4:4}
d.update(new_d)
print(d)
d.keys()
d.values()
d.items()
d.pop(4)
print(d)
del d[3]
print(d)
e = d.copy()
print(e)
e.clear()
print(e)

{'name': 'Ashutosh Tiwari', 'course': 'Data Engineering', 'Age': 20, 'Weight': 60, 'Institute': 'Regex', 1: 1, 2: 2, 3: 3, 4: 4}
{'name': 'Ashutosh Tiwari', 'course': 'Data Engineering', 'Age': 20, 'Weight': 60, 'Institute': 'Regex', 1: 1, 2: 2, 3: 3}
{'name': 'Ashutosh Tiwari', 'course': 'Data Engineering', 'Age': 20, 'Weight': 60, 'Institute': 'Regex', 1: 1, 2: 2}
{'name': 'Ashutosh Tiwari', 'course': 'Data Engineering', 'Age': 20, 'Weight': 60, 'Institute': 'Regex', 1: 1, 2: 2}
{}