In [1]:
n = int(input("Enter a Value:-"))
fact = 1

for i in range(1,n+1):
    fact = fact * i
print(fact)

Enter a Value:- 4

24

In [2]:
n = int(input("Enter a Value"))
while(n!=0):
    if(n!=0):
        n = int(input())
    else:
        break

Enter a Value 23
 12
 42
 0

In [4]:
a = ['Ashutosh','Rahul','Mohit','Yashika','Meenal','Harsh']
for i in a:
    print(i.upper(),end = ',')

ASHUTOSH,RAHUL,MOHIT,YASHIKA,MEENAL,HARSH,

In [5]:
n = int(input())
rev = 0
while(n!=0):
    digit = n%10
    rev = (rev * 10) + digit
    n = n//10
print(rev)

 31

13

In [6]:
a = 0
b = 1
n = int(input())
while(a<=n):
    print(a)
    a,b = b,a+b

 12

0
1
1
2
3
5
8

In [10]:
d = {'Name':'Ashutosh','Class':12,'Course':'Data Engineering'}
for i,j in d.items():
    print(f" {i}:{j} ")

 Name:Ashutosh
 Class:12
 Course:Data Engineering

In [11]:
n = int(input("Enter a Value"))
sum = 0
while(n!=0):
    digit = n%10
    sum = sum + digit
    n = n//10
print(sum)

Enter a Value 123

6

In [15]:
n = 2

while(n<=50):
    if(n%2!=0):
        print(n,end = ', ')
    n+=1

3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49,

In [17]:
s = "Ashutosh"
rev = ''
for i in s:
    rev = i + rev
print(rev)

hsotuhsA

In [28]:
l = ['Ashutosh','asdadiawiw','adwuhffhjddkla','audhuqdq']
count = 0
for i in l:
    if (len(i)>count):
        count = len(i)
        str = i
print(count)
print(str)

14
adwuhffhjddkla