In [1]:
def loda(a,count):
    for i in a:
        if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u'):
            count = count + 1
    print(count)
loda("Suraj",0)

2

In [2]:
def bsdk(a,rev):
    for i in a:
        rev = i + rev
    print(rev)
bsdk("Deepak",'')

kapeeD

In [9]:
def meetha(a,rev):
    temp = a
    for i in a:
        rev = i + rev
    if(rev == temp):
        print("True hai mc")
    else:
        print("Chutiya hai")
meetha("naman",'')

True hai mc

In [8]:
def fuck(a,sum):
    for i in a:
        sum = sum + i
    print(sum)
fuck([1,2,4],0)

7

In [18]:
def jhaatu(a):
    min = a[0]
    for i in a:
        if(i<min):
            min = i
    print(min)
jhaatu([12,34,54])

12

In [28]:
def uo():
    for i in range(1,51):
        if (i%2!=0 and i%3!=0):
            print(i)
uo()

1
5
7
11
13
17
19
23
25
29
31
35
37
41
43
47
49

In [30]:
def sum_sq(n,sum):
    for i in n:
        i = i**2
        sum = sum + i
    print(sum)

sum_sq([1,2],0)

5

In [31]:
def ch(a):
    for i in a:
        print(i.capitalize())

ch(['ashu','deepu'])

Ashu
Deepu

In [32]:
def d(l):
    s = set(l)
    print(s)
d([1,2,3,4,4,5,6,6,7,7])

{1, 2, 3, 4, 5, 6, 7}